<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
  <head>
      <title>Lista de filmes</title>
  </head>
  <body>
  <div layout:fragment="conteudo">
    <a href="/filmes/formulario">Novo</a>
      <h1>Lista de filmes</h1>
      <table>
        <thead>
          <tr>
            <th>nome</th>
            <th>duraçâo</th>
            <th>ano de lançamento</th>
            <th>gênero</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="filme : ${lista}">
            <td th:text="${filme.nome}"></td>
            <td th:text="${filme.duracaoEmMinutos}"></td>
            <td th:text="${filme.anoLancamento}"></td>
            <td th:text="${filme.genero}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>